<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kopang.app.domain.support.Qna.QnAMapper">
<select id="findAll" resultType="com.kopang.app.domain.support.Qna.QnADTO">
    SELECT
        i.inquiry_id AS id,
        i.user_id AS userId,
        i.title AS title,
        CASE
            WHEN u.name IS NULL OR u.name = '' THEN '고객'
            ELSE CONCAT(SUBSTRING(u.name, 1, 1), '**')
        END AS author,
        i.status AS status,
        i.created_at AS createdAt
    FROM inquiries i
    LEFT JOIN users u ON i.user_id = u.user_id
    WHERE i.type = 'GENERAL'
    ORDER BY i.created_at DESC
</select>


<select id="findByType" resultType="com.kopang.app.domain.support.Qna.QnADTO">
    SELECT
        i.inquiry_id AS id,
        i.user_id AS userId,
        i.title AS title,
        CASE
            WHEN u.name IS NULL OR u.name = '' THEN '고객'
            ELSE CONCAT(SUBSTRING(u.name, 1, 1), '**')
        END AS author,
        i.status AS status,
        i.created_at AS createdAt
    FROM inquiries i
    LEFT JOIN users u ON i.user_id = u.user_id
    WHERE i.type = #{type}
    ORDER BY i.created_at DESC
</select>

<select id="findById" resultType="com.kopang.app.domain.support.Qna.QnADTO">
    SELECT
        i.inquiry_id AS id,
        i.user_id AS userId,
        i.title AS title,
        i.content AS content,
        CASE
            WHEN u.name IS NULL OR u.name = '' THEN '고객'
            ELSE CONCAT(SUBSTRING(u.name, 1, 1), '**')
        END AS author,
        i.status AS status,
        i.created_at AS createdAt,
        i.answer AS answerContent
    FROM inquiries i
    LEFT JOIN users u ON i.user_id = u.user_id
    WHERE i.inquiry_id = #{id}
    AND i.type = 'GENERAL'
</select>
<insert id="insertQna">
    INSERT INTO inquiries (user_id, type, product_id, title, content, status, created_at)
    VALUES (#{userId}, 'GENERAL', NULL, #{title}, #{content}, '답변대기', now())
    </insert>
<update id="answerQna">
    UPDATE inquiries
    SET answer = #{answerContent}, status = '답변완료'
    WHERE inquiry_id = #{id}
        AND type = 'GENERAL'
</update>






</mapper>